<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inventory</servlet-name>
        <servlet-class>admin.access.inventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>admin.access.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>admin.access.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>admin.access.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>admin.access.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>admin.access.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>physicalshop</servlet-name>
        <servlet-class>admin.access.physicalshop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>admin.access.shop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/add/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/add/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/delete/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/update/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventory</servlet-name>
        <url-pattern>/inventory/update/form/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>physicalshop</servlet-name>
        <url-pattern>/physicalshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/cages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/bowls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/clothes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/foods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/leashes</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/litterboxes</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/toys</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
