/* ---------------------------------------
##### - PLACE YOUR CUSTOM CSS HERE - #####
--------------------------------------- */

.container {
    max-width: 70%;
    margin: auto;

}
.cart-btn {
    display: inline-block;
}
.btn.amado-bt {
    border-radius: 12px;
}

.btn.amado-bt:focus {
    outline: none;
    box-shadow: none;
}
#myTable1 {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
#myTable1 th, #myTable1 td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
#myTable1 th {
    background-color: #f2f2f2;
}
#myTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
#myTable1 tr:hover {
    background-color: #f1f1f1;
}

#myTable2 {
    width: 100%;
    
  
}
#myTable2 th, #myTable2 td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
#myTable2 th {
    background-color: #f2f2f2;
}
#myTable2 tr:nth-child(even) {
    background-color: #f9f9f9;
}
#myTable2 tr:hover {
    background-color: #f1f1f1;
}

.valid-feedback,
.invalid-feedback {
    opacity: 1;
    height: 0;
    transition: opacity 0.4s ease-out, height 0.4s ease-out;
    margin-top: 5px;
}
.form-control + .valid-feedback {
    color: red;
    opacity: 0;
    height: 0;
    transition: opacity .4s ease-out;
    margin-top: 5px;
}


.form-control.invalid + .invalid-feedback {

    opacity: 1;
    height: auto;
    margin-bottom: 5px;
    transition: opacity .4s ease-out;
}


.single-product-area {
    background-image: url('img/pawbg2.jpg');
    background-size: cover;
    background-position: center;
}



.cart-table-area {
    background-image: url('img/pawbg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header-area {
    border: 1px solid rgba(0, 0, 0, 0.1);

}
.text-info {
    font-size: 15px;
}

.registration-form-wrapper {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.physical-shop-wrapper {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
    .registration-form-wrapper {
        padding: 10px;
        margin: 5px;
    }
}

/* Ensure the table is responsive */
table {
    width: 100%;
    overflow-x: auto;
}
.cart-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.form-control {
    border: none;
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: border-color .4s ease-out;
    border-radius: 0;
    height: 40px;
}

.form-group {
    position: relative;
    height: 60px;
}
.form-group i {
    position: absolute;
    right: 10px;
    top: calc(80% - 4px);
    left: calc(90% - 2px);
    cursor: pointer;
}

.form-group.invalid i {
    top: calc(50% - 20px);
}

@media (max-width: 767px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}


.form-control:active,
.form-control:focus,
.btncustom.focus,
.btncustom:focus {
    outline: none;
    box-shadow: none;

}

.form-control.valid {
    border-color: green;
}

.form-control.invalid {
    border-color: #dc3545;
}

.form-control + small {
    color: #dc3545;
    opacity: 0;
    height: 0;
    transition: opacity .4s ease-out;
    margin-top: 10px;
}



.form-control.invalid + small {

    opacity: 1;
    height: auto;
    margin-top: 10px;
    transition: opacity .4s ease-out;
}


.form-control {
    border: none;
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: border-color .4s ease-out;
    border-radius: 0;
}


.modal-confirm {
    color: #1877f2;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #1877F2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
    color: #050505;
    border-radius: 4px;
    background: #FBFF4B !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #ffd54b !important;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}


.container {
    padding: 2rem 0rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}
.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #242424;
    line-height: 1.3;
    font-weight: 400;
}


.angleindouble{
    border: 1px solid #eee;
    border-bottom: 4px solid #eee;
}

.angleindouble:before{
    top: 0;
    left: 0;
    width: 150%;
    background: #259f6c;
    transform-origin: 0 bottom;
    transform:  translateX(-100%) rotate(-30deg);
}

.angleindouble:after{
    top: 0;
    left: auto;
    right: 0;
    width: 150%;
    transform-origin: right bottom;
    transform: translateX(100%) rotate(30deg);
}

.angleindouble:hover:before{
    left: 0;
    transform: rotate(0deg);
    transition: all .5s;
}

.angleindouble:hover:after{
    right: 0;
    transform: rotate(0deg);
    transition: all .5s;
}

.buttonfx {
    color: white;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 4px solid #eee;
    letter-spacing: 0.09000em;
    padding: 15px 30px;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s;
    border-radius: 12px;
    z-index: 1;
}

.buttonfx:before,
.buttonfx:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #5cb85c;
    z-index: -1;
    transform: translate3D(0,-100%,0);
    transition: all .5s;
}

.buttonfx:before {
    background: #0275d8;
    z-index: -2;
    transform: translate3D(0,0,0);
}

.buttonfx:hover {
    color: white;
}

.buttonfx:hover:after {
    transform: translate3D(0,0,0);
    transition: all .5s;
}